@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,700,400");




.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.divnavbar_container {
    align-items: flex-end;
    display: flex;
    height: 10%;
    justify-content: space-around;
    min-width: 100%;
    padding: 23.5px 27.0px;
    border: rgb(241, 241, 241) solid 1.5px;
}

.padding-global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.logo-crew {
    height: 30px;
    margin-bottom: 5.0px;
    max-width: 100%;
    display: inline-block;
}


.navw-dropdown-list-0 {
    cursor: pointer;
    font-family: var(--font-family-helvetica-bold);
    font-size: 0.9rem;
    font-weight: 800;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.87px;
    margin-left: 6%;
    min-width: 32%;
    padding: 0 14.3px;
}



.divw-dropdown-toggle-1 {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 20px;
    min-width: 20%;
}

.dropdown-menu1-open a {
    color: var(--black);
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .05);
    border: 1px solid #f1f1f1;
    text-decoration: none;
    z-index: 2;
    min-width: 220px;
    border-radius: 10px;
    flex-direction: column;
    padding: 1rem;
    display: flex;
    position: absolute;
    bottom: 86%;
    left: 12%;
}

.dropdown-menu-open {
    background-color: white;
    border: 1px solid #f1f1f1;
    z-index: 2;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 63%;
    left: 19%;
}

.dropdown-menu1-open a:hover,
.dropdown-menu-open a:hover {
    color: rgb(104, 138, 254);
}

.product:hover,
.resources:hover {
    color: rgb(104, 138, 254);
}

.dropdown-menu-open a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    min-width: 220px;
    flex-direction: column;
    padding: 1rem;
    display: flex;
}

.navbar-link:hover {
    color: rgb(104, 138, 254);
}

.navbar-link {
    text-decoration: none;
    color: var(--black);
}


.product {
    height: 21px;
    letter-spacing: 0;
    line-height: 20.2px;
    margin-top: -2px;
    min-width: 59px;
    white-space: nowrap;
}

.frame {
    align-self: flex-end;
    height: 1px;
    margin-bottom: 2.22px;
    width: 23px;
}

.divw-dropdown-toggle-2 {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    height: 20px;
    margin-left: 34px;
    min-width: 25%;
}

.resources {
    height: 21px;
    letter-spacing: 0;
    line-height: 20.2px;
    margin-top: -2px;
    min-width: 74px;
    white-space: nowrap;
}

.customers {
    height: 21px;
    letter-spacing: 0;
    line-height: 20.2px;
    margin-left: 31px;
    margin-top: -2px;
    min-width: 77px;
    white-space: nowrap;
}

.pricing {
    height: 21px;
    letter-spacing: 0;
    line-height: 20.2px;
    margin-left: 33px;
    margin-top: -2px;
    white-space: nowrap;
}

.divnavbar_buttons {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: 10%;
    min-width: 45%;
}

.login a {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.login a:hover {
    color: rgb(104, 138, 254);
}

.login {
    color: var(--log-cabin);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 21px;
    letter-spacing: 0;
    line-height: 20.2px;
    margin-bottom: 3.24px;
    min-width: 40px;
    white-space: nowrap;
}

.divprimary-button_component-nav {
    align-items: flex-start;
    display: flex;
    margin-left: 42px;
    position: relative;
    width: fit-content;
}

.divprimary-button_ghost-nav {
    border: 1px solid;
    border-color: var(--bastille);
    border-radius: 6px;
    height: 40px;
    left: -2px;
    position: absolute;
    top: 3px;
    width: 136px;
}

.divprimary-button_ghost_left-nav {
    background-color: var(--white);
    border-radius: 10px 0px 0px 0px;
    height: 14px;
    left: -1px;
    position: absolute;
    top: -5px;
    width: 14px;
}

.divprimary-button_ghost_right-nav {
    background-color: var(--white);
    border-radius: 0px 0px 10px 0px;
    height: 14px;
    left: 127px;
    position: absolute;
    top: 27px;
    width: 14px;
}

.abutton {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 4px;
    display: flex;
    padding: 1px 31.54px 3px 30px;
    position: relative;
    width: fit-content;
}

.abutton a {
    color: var(--black);
    text-decoration: none;
}

.abutton-1 a {
    text-decoration: none;
    color: var(--white);
}


.talk-to-sales {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.divprimary-button_component-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 27px;
    position: relative;
    width: fit-content;
}

.divprimary-button_ghost-1 {
    border: 1px solid;
    border-color: var(--bastille);
    border-radius: 6px;
    height: 38px;
    left: -2px;
    position: absolute;
    top: 2px;
    width: 145px;
}

.divprimary-button_ghost_right-1 {
    background-color: var(--white);
    border-radius: 0px 0px 10px 0px;
    height: 14px;
    left: 136px;
    position: absolute;
    top: 25px;
    width: 14px;
}

.abutton-1 {
    background-color: var(--bastille);
    border-radius: 4px;
    height: 38px;
    min-width: 145.16px;
    position: relative;
}

.start-free-trial {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    height: 15px;
    left: 27px;
    letter-spacing: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 91px;
}

/* Ajouter ce code dans le fichier "navBar.css" */

/* Styles pour le menu burger */
.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #0004ff;
    margin-bottom: 5px;
}

/*  */

.burger-menu {
    display: none;

}

/* Styles pour le menu burger en version mobile */
@media (max-width: 1025px) {
    .burger-menu {
        display: block;
        /* Afficher le menu burger en version mobile */
        position: relative;
        z-index: 999;
        margin-right: 20px;
    }

    .burger-menu .bar {
        transition: transform 0.3s ease-in-out;
    }

    .burger-menu.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Styles pour afficher la liste de navigation lorsque le menu burger est ouvert */
    .navw-dropdown-list-0.open {
        display: block;
    }
}


@media screen and (max-width: 1025px) {
    .navw-dropdown-list-0 {
        display: none;
    }
}